html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/material-icons.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/material-icons.woff) format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.modal-dialog {
  z-index: 9999 !important;
  margin: auto;
  position: absolute !important;
  top: 150px;
  left: 0;
  right: 0;
}

.modal-backdrop {
  z-index: 100 !important;
  background-color: #000;
  opacity: 0.5;
}

.no-link-style {
  color: inherit;
  /* Removes the blue color */
  text-decoration: none;
  /* Removes the underline */
  cursor: pointer;
  /* Changes mouse pointer to "pointer" on hover */
}


.link-style {
  cursor: pointer;
}